<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= user.weight %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= user.height %>
  </p>

</div>
